// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products {
	table {
 		border-collapse: collapse;
	}

	table tr td {
		padding: 5px;
		vertical-align: top;
	}

	.list_image {
		width: 120px;
		height: 50px;
	}

	.list_description {
		width: 60%;

		dl {
			margin: 0;
		}

		dt {
			color: #244;
			font-weight: bold;
			font-size: larger;
		}

		dd {
			margin: 0;
		}
	}

	.list_actions {
		font-size: x-small;
		text-align: right;
		padding-left: 1em;
	}

	.list_line_even {
		background: #e0f8f8;
	}

	.list_line_odd {
		background: #f8b0f8;
	}

	.submit-button {
	   border: 1px solid #447314;
	   background: #6aa436;
	   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
	   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
	   background: -moz-linear-gradient(top, #8dc059, #6aa436);
	   background: -ms-linear-gradient(top, #8dc059, #6aa436);
	   background: -o-linear-gradient(top, #8dc059, #6aa436);
	   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
	   -webkit-border-radius: 14px;
	   -moz-border-radius: 14px;
	   border-radius: 20px;
	   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	   text-shadow: #addc7e 0 1px 0;
	   color: #31540c;
	   font-family: helvetica, serif;
	   padding: 8px 3px;
	   font-size: 14px;
	   text-decoration: none;
	   vertical-align: middle;
   	}
   
	.submit-button:hover {
	   border: 1px solid #447314;
	   text-shadow: #31540c 0 1px 0;
	   background: #6aa436;
	   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
	   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
	   background: -moz-linear-gradient(top, #8dc059, #6aa436);
	   background: -ms-linear-gradient(top, #8dc059, #6aa436);
	   background: -o-linear-gradient(top, #8dc059, #6aa436);
	   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
	   color: #fff;
   	}
	.submit-button:active {
	   text-shadow: #31540c 0 1px 0;
	   border: 1px solid #447314;
	   background: #8dc059;
	   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
	   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
	   background: -moz-linear-gradient(top, #6aa436, #8dc059);
	   background: -ms-linear-gradient(top, #6aa436, #8dc059);
	   background: -o-linear-gradient(top, #6aa436, #8dc059);
	   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
	   color: #fff;
   	}
  
}